/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #ff6b6b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    text-align: center;
}

nav a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
}

section {
    background-color: #fff;
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.ideathon {
    margin-bottom: 30px;
    text-align: center;
}

.ideathon:hover{
    border: 2px solid transparent;
    background-image: linear-gradient(to right, #87CEEB, #ADD8E6);
    transform: translateY(-5px);
}

.ideathon h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.ideathon p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 5px;
}

#submit-idea {
    background-color: #ff6b6b;
    color: #fff;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1em;
}
